@import "../../scss/variables.scss";

.mainWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  background-color: #fff;
  padding: 2rem;
  border-radius: $border-radius;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 150px;
    }
  }

  &__form {
    margin: 2rem 0;
  }
  &__formGroup {
    margin-bottom: 1rem;
  }
  &__formLabel {
    width: 100%;
    display: inline-block;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }
  &__formInput {
    width: 100%;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    padding: 0.2rem 0.4rem;

    &:focus {
      outline: 1px solid $color-primary;
    }
  }
  button[type="submit"] {
    display: inline-block;
    width: 100%;
    border: none;
    background-color: $color-accent-alternative;
    color: white;
    border-radius: $border-radius;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }

  small {
    font-size: 0.75rem;
  }
}
