@import "../../scss/variables.scss";

.paginate {
  display: flex;
  gap: 0.5rem;

  &__button {
    width: 2rem;
    background-color: transparent;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    padding: 0.3rem 0.6rem;
    font-size: 0.75rem;
    font-weight: 500;
    transition: color 0.1s ease-in-out, border 0.1s ease-in-out;
    aspect-ratio: 1 / 1;

    &:hover {
      color: $color-accent;
      border: 1px solid darken($color-border, 5%);
    }
  }
}
