@import "../../scss/variables.scss";

.formGroup {
  margin-bottom: 1rem;

  &__label {
    width: 100%;
    display: inline-block;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }

  &__input {
    width: 100%;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    padding: 0.2rem 0.4rem;
    outline: 0px solid transparent;
    transition: outline 0.2s ease-in-out;

    &:focus {
      outline: 1px solid $color-accent-alternative;
    }
  }
}
